body {
    background: linear-gradient(90deg, rgba(252, 198, 255, 1) 0%, rgba(110, 91, 144, 1) 100%);
}

.article {
    display: inline-table;
    width: 15%;
    height: 50%;
    margin: 3em 1em;
    background-color: rgba(209, 228, 228, 0.743);
    border-radius: 5%;
    padding: 2em 0 0 2em;
}

.img-responsive {
    width: 90%;
    margin: 1em auto;
}

.article-title {
    font-size: 32px;
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
}

time {
    font-style: italic;
}